:root {
  --blue: #273FAD;
  --green: #3FAD27;
  --red: #ad273f;
  --background: #EBEBEB;
  --shapes: #FFFFFF;
  --text-title: #3D3D4D;
  --text: #1C1C29;
  --text-light: #A09CB1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #121214;
}

input,
textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button,
.checkmark {
  cursor: pointer;
}

.react-modal-overlay {
  background: rgba($color: #000000, $alpha: .5);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  border-radius: 1rem;
  max-width: 500px;
  width: 100%;
  padding: 2rem;

  h1 {
    font-size: 17px;
    text-align: center;
    padding-bottom: 2rem;
  }

  div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  button {}
}